/* h1 {
    position: absolute;
    top: 60px;
    left: 180px;
    color: antiquewhite;
    text-shadow: 1px 1px 20px black;
} */

body {
    margin: 0;
}

.design {
    font-size: 0px;
    position: relative;
    height: 100vh;
}

.design__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design__title {
    font-size: 4vw;
    position: absolute;
    color: antiquewhite;
    text-shadow: 1px 1px 20px black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}