html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

blockquote {
    font-style: italic;
    border-left: rgb(221,221,221);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-color: grey;
    table-layout: fixed;
}

table thead {
    text-align: left;
    background-color: grey;
}

table th, table td {
    border: 1px solid grey;
}

table tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

ul {
    list-style: disc;
}

ul ul ul {
    list-style: circle;
}

blockquote .author {
    text-align: right;
}