body {
    background-color: rgb(238, 238, 238) ;
}

.card {
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card img{
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.card div button {
    position: absolute;
    background-color: rgb(0, 153, 0);
    right: 10%;
    bottom: 5%;
    padding: 7px;
    border-radius: 4px;
    border-color: rgb(0, 153, 0);
    text-decoration: none;
}

.card div h3 {
    position: absolute;
    top: 60%;
    padding-left: 10px;
}

.card div p {
    position: absolute;
    top: 70%;
    padding-left: 10px;
}